<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<!-- 文件输出格式 -->
	<property name="PATTERN" value="%-12(%d{yyyy-MM-dd HH:mm:ss.SSS}) |-%-5level [%thread] %c [%L] -| %msg%n" />
	<!-- test文件路径 -->
	<property name="TEST_FILE_PATH" value="/data/logs/bouguhui-common-service"/>
	<!-- pro文件路径 -->
	<property name="PRO_FILE_PATH" value="/data/logs/bouguhui-common-service"/>
	<!-- log文件名称 -->
	<property name="LOG_FILE_NAME" value="bouguhui-common-service"/>

	<!--获取配置中的参数信息-->
	<springProperty scope="context" name="logname" source="spring.application.name"/>
	<springProperty scope="context" name="smtpHost" source="email.smtpHost"/>
	<springProperty scope="context" name="smtpPort" source="email.smtpPort"/>
	<springProperty scope="context" name="to" source="email.to"/>
	<springProperty scope="context" name="from" source="email.from"/>
	<springProperty scope="context" name="username" source="email.username"/>
	<springProperty scope="context" name="password" source="email.password"/>


	<!-- 开发环境 -->
	<springProfile name="dev">
		<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${PATTERN}</pattern>
			</encoder>
		</appender>
		<logger name="com.sinochem" level="debug"/>
		<root level="info">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>

	<!-- 测试环境 -->
	<springProfile name="test">
		<appender name="TEST-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<!-- 文件路径 -->
			<file>${TEST_FILE_PATH}/${LOG_FILE_NAME}.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<!-- 文件名称 -->
				<fileNamePattern>${TEST_FILE_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
				<!-- 文件最大保存历史数量 -->
				<MaxHistory>100</MaxHistory>
			</rollingPolicy>

			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
		</appender>

		<root level="info">
			<appender-ref ref="TEST-FILE" />
		</root>
	</springProfile>


	<!-- sit环境 -->
	<springProfile name="sit">
		<appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${PRO_FILE_PATH}/${LOG_FILE_NAME}.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${PRO_FILE_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
				<MaxHistory>100</MaxHistory>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
		</appender>
		<root level="info">
			<appender-ref ref="PROD_FILE" />
		</root>
	</springProfile>


	<!-- uat环境 -->
	<springProfile name="uat">
		<appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${PRO_FILE_PATH}/${LOG_FILE_NAME}.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${PRO_FILE_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
				<MaxHistory>100</MaxHistory>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
		</appender>

		<!--邮件发送-->
		<appender name="EMAIL" class="ch.qos.logback.classic.net.SMTPAppender">
			<!--smtp 服务器-->
			<smtpHost>${smtpHost}</smtpHost>
			<!--port-->
			<smtpPort>${smtpPort}</smtpPort>
			<!-- 发给谁的邮件列表，多个人用逗号分隔 -->
			<to>${to}</to>
			<!--发件人，添加邮箱和上面的username保持一致-->
			<from>${from}</from>
			<!--<subject>${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</subject>-->
			<subject>${logname}.%d{yyyy-MM-dd}.log</subject>
			<!--发件人的邮箱-->
			<username>${username}</username>
			<!--发件人的邮箱密码-->
			<password>${password}</password>
			<SSL>false</SSL>
			<!--是否异步-->
			<asynchronousSending>true</asynchronousSending>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
			</layout>
			<cyclicBufferTracker class ="ch.qos.logback.core.spi.CyclicBufferTracker" >
				<bufferSize> 1 </bufferSize>
			</cyclicBufferTracker>
			<!--过滤器-->
			<!-- 这里采用等级过滤器 指定等级相符才发送 -->
			<filter class="ch.qos.logback.classic.filter.LevelFilter">
				<level>ERROR</level>
				<onMatch>ACCEPT</onMatch>
				<onMismatch>DENY</onMismatch>
			</filter>
		</appender>

		<root level="info">
			<appender-ref ref="PROD_FILE" />
			<appender-ref ref="EMAIL" />
		</root>
	</springProfile>

	<!-- 生产环境 -->
	<springProfile name="prod">
		<appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${PRO_FILE_PATH}/${LOG_FILE_NAME}.log</file>
			<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
				<fileNamePattern>${PRO_FILE_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
				<MaxHistory>100</MaxHistory>
			</rollingPolicy>
			<layout class="ch.qos.logback.classic.PatternLayout">
				<pattern>${PATTERN}</pattern>
			</layout>
		</appender>
		<root level="info">
			<appender-ref ref="PROD_FILE" />
		</root>
	</springProfile>

</configuration>
